<h1>Alarm for <%= @alarm.title %></h1>

<%= render "form" %>

<%= link_to "delete", alarm_path(@alarm), method: :delete, data: {confirm: "Are you sure you want to delete this alarm? This will remove any reminders you have set up." } %>
